body {
    background: linear-gradient(rgb(17, 33, 104), rgb(112, 1, 112));
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#cubo {
    z-index: -10;
    position: absolute;
    justify-content: center;
    display: flex;
    opacity: 0.2;
    width: 100vw; 
}
#cubo>img{
    margin-top: 14%;
}
nav {
    background-color: rgba(21, 27, 27, 0.904);
    display: flex;
    justify-content:  space-between; 
    height: 10%;
    width: 100%; 
    margin: 0px;
    padding: 0;
    color: rgb(255, 255, 255);
}

nav>span{
    align-content: center;
}
#menu {
    padding: 20px;
}
#menu:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#menuItem {
    color: white;
    display: none;
    position: absolute;
    left: 0;
    top: 10%;
    padding: 10px;
    background-color:rgba(21, 27, 27, 0.904) ;
}

#menuItem>div:hover {
    cursor: pointer;
    border: solid  rgb(255, 255, 255) 1px;
}
#menuItem>div {
    background-color: rgba(21, 27, 27, 0.904);
    border-radius: 15px;
    width: 100px;
    height: 25px;
    padding: 5px;
    color: white;
    font-style: normal;
}
#logo{
    text-decoration: underline;
    text-align: center;
    font-size: 30pt;
}
#logo>img{
    width: 50px;
    padding: 0;
    margin: 0;
}
#icone>img{
    width: 30px;
    padding: 10px;
}
main{
    display: flex;
    flex-direction: column;
}
#random {
    display: block;
}
aside#cronometro {
    display: block;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 90pt;
    width: 100%;
    height: 100px;
}
aside#cronometro>div {
    padding-top: 3%;
}
aside>div#tempo {
    font-family: "Press Start 2P", system-ui;
    padding-top: 12%;
}
aside#anotaçao{
    border: 3px soli white;
    font: 20px;
    width: 100px;
    height: 40%;
    display: block;
}
table{
    columns: 3;
}
table>tbody>tr>td {
    border: 3px solid black;
}
footer {
    background-color: rgba(0, 0, 0, 0.733);
    color: white;
    width: 100%;
    height: 7%;
    display: flex;
    position: absolute;
    bottom: 0 ;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.footerimg {
    width: 20px;
    display: block;
    background-color: white;
    border-radius: 15%;
    margin-left: 10px;
}
.footerimg:hover{
    transform: scale(1.1);
}